

.m-xl{ 
    margin: 2%; 
}

.circle{
    position: absolute;
    width: 54%;
    height: 75%;
    z-index: -1;
    right: 0;
}


.block-1{
    position: relative; 
    top: -140px;
    left: 100px;
    padding: 10%;
    background-color: #05cf9f;
    border-radius: 30% 90% 53% 37% / 21% 94% 56%;
    z-index: -1;
    transition: 1s;
    /*animation:  animate 10s 1s infinite;*/
    
}


#btn_service,a{
    color: white;
}

#btn_service,a:hover{
    color: #05cf9f;
}

@keyframes animate {
    
    0%{
        transform: rotate(0deg)
    }
    
    10%{ 
        transform: rotate(161deg)

    }

    44%{ 
        transform: rotate(190deg)

    }
    70%{ 
        transform: rotate(221deg)

    }
    80%{ 
        transform: rotate(111deg)

    }

    100%{
        transform: rotate(360deg)
    }
    
}

.circle-mobile{
    width: 99%;
    height: 99%;
}

.team{
    width: 50%;
    height: 84%;
    margin-right: 4%;
    position: absolute;
    z-index: 1;
    right: 0;
    transition: all 2s ease-in-out;
}



.logo-sm{
    width: 80px;
    height: 70px;
    opacity: 0.20;
    transition: 0.5s;
    cursor: pointer;
}

.logo-sm:hover{
    transition: 0.5s;
    transform: scale(1.24);

}

.space-word{
    letter-spacing: 7px;
    font-weight: bold; 
}

.bg2{
    background-color: #05cfa019;
}

.bg3{
    background-color: #273460;
}

.img-service{
    width: 180px;
    height: 150px;
}

.box-black{
    cursor: pointer;
    transition: 0.5s;
}

.box-black:hover{
    background-color: #273460;
}
.box-black:hover h2,.box-black:hover p{
    color: white;
}

.btn2:hover{
    background-color: white;
    color: black;
}

@media (max-width: 580px) { 
    
    .logo-sm{
        width: 50px;
        height: 40px;
        opacity: 0.20;
        transition: 0.5s;
        cursor: pointer;
    }

    .block-1{
        float: static; 
        top: -564px;
        left: -154px;
        padding: 38%;
        background-color: #05cf9f;
        border-radius: 30% 90% 53% 27% / 21% 94% 56%;
        z-index: -1;
    }

}