
.circle{
    position: absolute;
    width: 54%;
    height: 75%;
    z-index: -1;
    right: 0;
}

.circle-mobile{
    width: 98%;
    height: 98%;
}

.team{
    width: 54%;
    height: 84%;
    position: absolute;
    z-index: 1;
    right: 0;
}