


  <!-- Content here -->
<div class="container-fluid bg  ">
  
  <!-- First Layout  -->
  <div class="row justify-content-center p-md-5 p-4 " data-aos="zoom-in-up" data-aos-duration="1100">

    <div class="col-12 col-md-6 p-3 pl-5 box-dark "> 
      <div class="row m-1 m-md-5 ">
        
        <div class="col-12 text-center ">
            <img class="login-logo" src="../../../assets/logo.jpg"> 
        </div>

        <div class="col-12 p-5 ">
            <input type="text" class="form-control" placeholder="E-mail" aria-label="Username" aria-describedby="basic-addon1">
        </div>

        <div class="col-12 p-5 ">
            <input type="password" class="form-control" placeholder="Password" aria-label="Username" aria-describedby="basic-addon1">
        </div>
        
        <div class="text-center">
            
            <button class="btn2 lenght"> Entrar </button>

        </div>

        <div class="text-center">

            <button class="btn3 mt-4 lenght"> Registar </button>

        </div>

      </div>
    </div>

    <div class="col-md-4 text-left box-blue"  > 
      <div class=" row pt-5 p-4 mb-2 box2">
        
        
      </div>
    </div>

  </div>

  <div class="row justify-content-center pb-5">

    <img class="social-media" src="../../../assets/face.png">

    <img class="social-media" src="../../../assets/insta.png">

    <img class="social-media" src="../../../assets/gmail.png">


  </div>

</div>

